@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .glass {
    @apply backdrop-blur-xl bg-white/10 border border-white/20 shadow-glass;
  }
}

body {
  @apply bg-neutral-50 text-neutral-900 font-sans antialiased;
}

/* Align page headers and descriptions to the left */
h1,
h1 + p {
  text-align: left;
}
